.magicpattern { 
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M878 635.5Q872 771 748.5 828t-246 49Q380 869 300 786.5T170.5 602Q121 500 117 359.5t123.5-203Q368 94 497 103t257 64.5q128 55.5 129 194t-5 274Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%23444cf7%22 d=%22M878 635.5Q872 771 748.5 828t-246 49Q380 869 300 786.5T170.5 602Q121 500 117 359.5t123.5-203Q368 94 497 103t257 64.5q128 55.5 129 194t-5 274Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}