@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

@font-face {
  font-family: Maharlika;
  src: url("./fonts/Maharlika-Regular.ttf");
}

@theme {
  --font-mhlk: Maharlika, "sans-serif";
}

